doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(href='https://fonts.googleapis.com/css?family=Baloo+2&display=swap' rel='stylesheet')
  link(rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css")
  link(rel='shortcut icon' type="image/png" href="/illustrations/logo.svg")
  link(rel='stylesheet' href='/css/allReports.css')
  title #{title}

header
  .logo
    a(href='/dashboard' style='text-decoration: none; color: #fff; font-size: 24px;\
    font-weight: bold;')
      div(style='display: flex; justify-content: center')
        img(src='/illustrations/Logo-red.svg' width='35px' height='35px' style='margin-right: 5px')
        | Dev
        span(style='color: #DE4760;') Con
  .search
    input(type='text' placeholder='Search' id='search')
    #search-results
  ul
    li
      a(href='/allStartups' style='color: #DE4760;')
        
        | &nbsp;&nbsp;Startups
    li
      a(href='/allUsers' style='color: #DE4760;')
        
        | &nbsp;&nbsp;Users   
    li
      p(style='color: #DE4760;' id='logout-btn')
        i.fas.fa-sign-out-alt
        | &nbsp;&nbsp;Logout

    li
      p(style='color: #fff;' id='logout-btn')
        | Ayoub&nbsp;&nbsp;
      img(src='/illustrations/avatar.svg' width='50px' height='50px' style='border-radius: 50%; margin-left: 1rem')

main.container
    each report in reports
        - let reasons = report.reasons.map(re => ` ${re} `).join(',')
        .report-card
                      .left
                          p(style='color: #1DA977; margin-bottom: 1rem') #{new Date(report.issuedAt).toLocaleString('en-us', { day:'numeric', month:'short', hour:'numeric', minute:'numeric'})}
                          img(src=`/illustrations/post-report-green.svg` width='50px' height='50px')
                      
                      .right 
                          h3.post-type Post Report
                          p.report-body 
                              | #{report.user.name} has reported a 
                              a(href=`/posts/${report.post}` target='_blank' style='text-decoration: none; color: #1DA876') post 
                              br
                              | Reasons : &nbsp;
                             
                              span(style='color: #1DA977; font-size: 18px') #{reasons}
                      .delete
                        p(id=`${report._id}` onclick='deleteReport(this.id)' style='color: #DE4760; font-size: 16px; cursor: pointer')
                          i.fas.fa-trash(style='margin-right: 0.5rem')
                           

script(defer='' src='https://use.fontawesome.com/releases/v5.8.2/js/all.js') 
script(type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js")
script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js' integrity='sha256-bd8XIKzrtyJ1O5Sh3Xp3GiuMIzWC42ZekvrMMD4GxRg=' crossorigin='anonymous')
script(src='/js/users.js')