doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(href='https://fonts.googleapis.com/css?family=Baloo+2&display=swap' rel='stylesheet')
  link(rel='shortcut icon' type="image/png" href="/illustrations/logo.svg")
  link(rel='stylesheet' href='/css/dashboard.css')
  title #{title}

header
  .logo
    a(href='/dashboard' style='text-decoration: none; color: #fff; font-size: 24px;\
    font-weight: bold;')
      div(style='display: flex; justify-content: center')
        img(src='/illustrations/Logo-red.svg' width='35px' height='35px' style='margin-right: 5px')
        | Dev
        span(style='color: #DE4760;') Con
  .search
    input(type='text' placeholder='Search' id='search')
    #search-results
  ul
    li
      a(href='/dashboard/allStartups' style='color: #DE4760;')
        
        | &nbsp;&nbsp;Startups
    li
      a(href='/dashboard/allUsers' style='color: #DE4760;')
        
        | &nbsp;&nbsp;Users   
    li
      p(style='color: #DE4760;' id='logout-btn')
        i.fas.fa-sign-out-alt
        | &nbsp;&nbsp;Logout

    li
      p(style='color: #fff;' id='logout-btn')
        | Ayoub&nbsp;&nbsp;
      img(src='/illustrations/avatar.svg' width='50px' height='50px' style='border-radius: 50%; margin-left: 1rem')    

main.container
    div.title
        img(src='/illustrations/Icon material-dashboard.svg' height='27px' width='27px')
        h2 Dashboard
    .wrapper
        .reports
            h2 Reports & Activities
            //- - let reportsArr = []
            //- - 
            //-     if(reports.length <= 3) reportsArr = [...reports]
            //-       else if(reports.length > 3)
            //-         reportsArr[0] = reports[0]
            //-         reportsArr[1] = reports[1]
            //-         reportsArr[2] = reports[2]
             
               
            .report-container
                each report in reports
                
                  - let reasons = report.reasons.map(re => ` ${re} `).join(',')
                   
                  .report-card
                      .left
                          p(style='color: #1DA977; margin-bottom: 1rem') #{new Date(report.issuedAt).toLocaleString('en-us', { day:'numeric', month:'short', hour:'numeric', minute:'numeric'})}
                          img(src=`/illustrations/post-report-green.svg` width='50px' height='50px')
                      
                      .right 
                          h3.post-type Post Report
                          p.report-body 
                              | #{report.user.name} has reported a 
                              a(href=`/posts/${report.post}` target='_blank' style='text-decoration: none; color: #1DA876') post 
                              br
                              | Reasons : &nbsp;
                             
                              span(style='color: #1DA977; font-size: 18px') #{reasons} 
               
                           

                a(href='/dashboard/allReports' style='text-decoration: none; color: #1DA976; font-size: 25px; margin: 1rem 0') View All                                    
        .top
            h2 Top Tags & Users
            canvas#top-tags(height='300px')
            .users-container
                .user-card
                    img(src='/illustrations/avatar.svg' width='40px' height='40px')
                    h3 Gary Simon
                    p Graphic Designer

                .user-card
                    img(src='/illustrations/avatar.svg' width='40px' height='40px')
                    h3 John Doe
                    p AI Enginner    
        .stats    
            h2 Statistics
            canvas#stats(height='300px')
            
            h2(style=' margin-top: 2rem') Total Registered Users :&nbsp;&nbsp;
                span#users(style='color: #1DA977') 
            h2 Total Registered Startups :&nbsp;&nbsp;
                span#startups(style='color: #DE4760')     




script(defer='' src='https://use.fontawesome.com/releases/v5.8.2/js/all.js') 
script(src='https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js') 
script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js' integrity='sha256-bd8XIKzrtyJ1O5Sh3Xp3GiuMIzWC42ZekvrMMD4GxRg=' crossorigin='anonymous')
script(src='/js/dashboard.js')  
