doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(href='https://fonts.googleapis.com/css?family=Baloo+2&display=swap' rel='stylesheet')
  link(rel='shortcut icon' type="image/png" href="/illustrations/logo.svg")
  link(rel='stylesheet' href='/css/dashboard.css')
  title #{title}

header
  .logo
    a(href='/dashboard' style='text-decoration: none; color: #fff; font-size: 24px;\
    font-weight: bold;')
      div(style='display: flex; justify-content: center')
        img(src='/illustrations/Logo-red.svg' width='35px' height='35px' style='margin-right: 5px')
        | Dev
        span(style='color: #DE4760;') Con
  .search
    input(type='text' placeholder='Search' id='search')
    #search-results
  ul
    li
      a(href='/dashboard/allStartups' style='color: #DE4760;')
        
        | &nbsp;&nbsp;Startups
    li
      a(href='/dashboard/allUsers' style='color: #DE4760;')
        
        | &nbsp;&nbsp;Users   
    li
      p(style='color: #DE4760;' id='logout-btn' onclick='logout()')
        i.fas.fa-sign-out-alt
        | &nbsp;&nbsp;Logout

    li
      p(style='color: #fff;' id='logout-btn')
        | #{admin.name}&nbsp;&nbsp;
      img(src='/illustrations/avatar.svg' width='50px' height='50px' style='border-radius: 50%; margin-left: 1rem')    

main.container
    div.title
        img(src='/illustrations/Icon material-dashboard.svg' height='27px' width='27px')
        h2 Dashboard
    .wrapper
        .reports
            h2 Reports & Activities
            - let reportsArr = []
            - if(reports[0]) reportsArr.push(reports[0])
            - if(reports[1]) reportsArr.push(reports[1]) 
            
            .report-container
                  each report in reportsArr
                    .report-card
                        .left
                            - let reportType = 'post-report-green.svg'
                            - if(report.reportType === 'bug') reportType = 'bug-report-green.svg'
                            p(style='color: #1DA977; margin-bottom: 1rem') #{new Date(report.issuedAt).toLocaleString('en-us', { day:'numeric', month:'short', hour:'numeric', minute:'numeric'})}
                            img(src=`/illustrations/${reportType}` width='50px' height='50px')
                        
                        .right 
                            h3.post-type #{report.reportType.charAt(0).toUpperCase() + report.reportType.slice(1)} Report
                            - if(report.reportType === 'post')
                              - let reasons = report.reasons.map(re => ` ${re} `).join(',')
                              p.report-body 
                                | #{report.user.name} has reported a 
                                a(href=`/posts/${report.post}` style='text-decoration: none; color: #1DA876') post 
                                br
                                | Reasons : &nbsp;
                                    
                                span(style='color: #1DA977; font-size: 18px') #{reasons}
                            - if(report.reportType === 'bug')
                              p.report-body #{report.message}
                              
                              p.report-body(style='font-size: 18px; margin-top: 0.5rem') 
                                | Submitted by 
                                span(style='color: #1DA876') #{report.user.name}     
                              //- else if(report.reportType === 'bug')
                              //-   p.report-body  #{report.message}
                              //-   br 
                              //-   | submitted from #{report.user.name}    
                
                            

                  a(href='/dashboard/allReports' style='text-decoration: none; color: #1DA976; font-size: 25px; margin: 1rem 0') View All                                    
        .top
            h2 Top Tags
            canvas#top-tags(height='300px')
               
        .stats    
            h2 Statistics
            canvas#stats(height='300px')
            h2(style=' margin-top: 2rem') Total Registered Users :&nbsp;&nbsp;
                span#users(style='color: #1DA977') 
            h2 Total Registered Startups :&nbsp;&nbsp;
                span#startups(style='color: #DE4760')     




script(defer='' src='https://use.fontawesome.com/releases/v5.8.2/js/all.js') 
script(src='https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js') 
script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js' integrity='sha256-bd8XIKzrtyJ1O5Sh3Xp3GiuMIzWC42ZekvrMMD4GxRg=' crossorigin='anonymous')
script(src='/js/dashboard.js')  

script. 
    const logout = async () => {
    try {
      const res = await axios({
        method: 'GET',
        url: 'http://127.0.0.1:3000/api/v1/users/logout',
      });
      if (res.data.status === 'success') {
        window.setTimeout(() => location.assign('/'), 1500);
      }
    } catch (err) {
      console.log(err);
    }
  };
