doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(href='https://fonts.googleapis.com/css?family=Baloo+2&display=swap' rel='stylesheet')
  link(rel='shortcut icon' type="image/png" href="/illustrations/logo.svg")
  link(rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css")
  link(rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css")
  link(rel="stylesheet"
      href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.18.1/build/styles/night-owl.min.css")
  link(rel='stylesheet' href='/css/me.css')
  title #{title}
  
header
  .logo
    a(href='/home' style='text-decoration: none; color: #fff; font-size: 24px;\
    font-weight: bold;')
      div(style='display: flex; justify-content: center')
        img(src='/illustrations/logo2.svg' width='35px' height='35px' style='margin-right: 5px')
        | Dev
        span(style='color: #1DA977;') Con
  .search
    input(type='text' placeholder='Search' id='search')
    #search-results
  ul
    li
      a(href='/settings' style='color: #fff;')
        i.fas.fa-cog
        | &nbsp;&nbsp;Settings
    li
      p(style='color: #1DA977;' id='logout-btn' onclick='logout()')
        i.fas.fa-sign-out-alt
        | &nbsp;&nbsp;Logout
    li
      - let circleDisplay = 'none';
      - if(user.notifNum < user.notifications.length) circleDisplay = 'block'; 
      p#notification-toggle-btn(style='color: #fff; position: relative' data-state='closed' data-notifNum=`${user.notifNum}` data-notifLength=`${user.notifications.length}`)
        i#circle.fas.fa-circle(style=`display: ${circleDisplay}; width: 10px; height: 10px ;position: absolute; top: -2px; right: -2px; color: #1DA977; z-index: 1000`)
        i.far.fa-bell

.container
  nav.left-nav
    ul
      li
        a(href='/home')
          i.fas.fa-home
          | &nbsp; Home
      li
        a(href='/me')
          i.fas.fa-user
          | &nbsp;&nbsp; Profile
      li
        a(href='/job-offers')
          i.fas.fa-users
          | &nbsp;&nbsp; Job offers
      li
        a(href='/bookmarks')
          i.far.fa-bookmark
          | &nbsp;&nbsp; Bookmarks
      li
        a(href='/messages')
          i.far.fa-comments
          | &nbsp; Messages
  main.main(style='align-items: center') 
    .login-form(style='width: 80%')
        h1(style='margin: 2rem 0; color: #1DA977') Edit Project
        .form__group
        label.form__label Project Title *
        input#title-edit.form__input(type='text'  required='' value=`${project.title}`)
        label.form__label Project Description (Markdown) *
        textarea#description-edit.form__input(type='text' style='height: 300px;' required='' value=`${project.descriptionMarkdown}`) #{project.descriptionMarkdown}
        button(id=`update-${project._id}` onClick='updateProject(this.id)').btn Save

script(defer='' src='https://use.fontawesome.com/releases/v5.8.2/js/all.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js' integrity='sha256-bd8XIKzrtyJ1O5Sh3Xp3GiuMIzWC42ZekvrMMD4GxRg=' crossorigin='anonymous')
script(type='text/javascript' src='https://cdn.jsdelivr.net/npm/toastify-js')
script(src='/js/editProject.js')

script. 
    const logout = async () => {
    try {
      const res = await axios({
        method: 'GET',
        url: 'http://127.0.0.1:3000/api/v1/users/logout',
      });
      if (res.data.status === 'success') {
        window.setTimeout(() => location.assign('/'), 1500);
      }
    } catch (err) {
      console.log(err);
    }
  };
