doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(href='https://fonts.googleapis.com/css?family=Baloo+2&display=swap' rel='stylesheet')
  link(rel='shortcut icon' type="image/png" href="/illustrations/logo.svg")
  link(rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css")
  link(rel="stylesheet"
      href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.18.1/build/styles/night-owl.min.css")
  link(rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css")    
  link(rel='stylesheet' href='/css/me.css')
  link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@2.4.14/dist/css/splide.min.css")
  title #{title}
  
header
  .logo
    a(href='/landing' style='text-decoration: none; color: #fff; font-size: 24px;\
    font-weight: bold;')
      div(style='display: flex; justify-content: center')
        img(src='/illustrations/logo2.svg' width='35px' height='35px' style='margin-right: 5px')
        | Dev
        span(style='color: #1DA977;') Con
  .search
    input(type='text' placeholder='Search' id='search')
    #search-results
  ul
    li
      a(href='/settings' style='color: #fff;')
        i.fas.fa-cog
        | &nbsp;&nbsp;Settings
    li
      p(style='color: #1DA977;' id='logout-btn')
        i.fas.fa-sign-out-alt
        | &nbsp;&nbsp;Logout
    li
      - let circleDisplay = 'none';
      - if(user.notifNum < user.notifications.length) circleDisplay = 'block'; 
      p#notification-toggle-btn(style='color: #fff; position: relative' data-state='closed' data-notifNum=`${user.notifNum}` data-notifLength=`${user.notifications.length}`)
        i#circle.fas.fa-circle(style=`display: ${circleDisplay}; width: 10px; height: 10px ;position: absolute; top: -2px; right: -2px; color: #1DA977; z-index: 1000`)
        i.far.fa-bell    
.container
  nav.left-nav
    ul
      li
        a(href='/home')
          i.fas.fa-home
          | &nbsp; Home
      li
        a(href='/me')
          i.fas.fa-user
          | &nbsp;&nbsp; Profile
      li
        a(href='/job-offers')
          i.fas.fa-users
          | &nbsp;&nbsp; Job offers
      li
        a(href='/bookmarks')
          i.far.fa-bookmark
          | &nbsp;&nbsp; Bookmarks
      li
        a(href='/messages')
          i.far.fa-comments
          | &nbsp; Messages
  main.main 
    .wrapper2 
        .splide
            .splide__track
                .splide__list
                    each image in project.images 
                        img.splide__slide(src=`/img/projects/${image}`)
        .title 
            h1 #{project.title} 
        .description 
            != `${project.descriptionHtml}`

             
        -if(user._id.toString() === project.author.toString())
          .options(style='margin-top: 0.5rem; padding: 0.5rem 2rem; display: flex; flex-direction: row; justify-content: space-around; align-items: center') 
            .option#delete-btn(style='padding: 0.5rem; display: flex; flex-direction: row; align-items: center; background: red; color: #fff; margin-right: 1.5rem; cursor: pointer; border-radius: 5px') 
              i.fas.fa-trash(style='margin-right: 0.2rem') 
              | Delete 
            a.option(href=`edit/${project._id}` style='padding: 0.5rem; text-decoration: none; display: flex; flex-direction: row; align-items: center; background: #1da977; color: #fff; cursor: pointer; border-radius: 5px')
              i.fas.fa-pen(style='margin-right: 0.2rem') 
              | Edit 

        .delete#confirm-delete-container(style='width: 50%; display: flex; flex-direction: column; align-items: center; color: #fff; background-color: #0c0e1c; padding: 1rem; border-radius: 15px; opacity: 0')
          h2 Are you sure you want to delete this project ? 
          .btns(style='display: flex; width: 100%; flex-direction: row; justify-content: space-around') 
            .btn(id=`${project._id}` onClick='handleDelete(this.id)')
              | Confirm
            .btn#cancel(style='background: none; box-shadow: none') 
              | Cancel    

             
 




script(defer='' src='https://use.fontawesome.com/releases/v5.8.2/js/all.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js' integrity='sha256-bd8XIKzrtyJ1O5Sh3Xp3GiuMIzWC42ZekvrMMD4GxRg=' crossorigin='anonymous')
script(type='text/javascript' src='https://cdn.jsdelivr.net/npm/toastify-js')
script(src="https://cdn.jsdelivr.net/npm/@splidejs/splide@2.4.14/dist/js/splide.min.js")
script(src="/js/project.js")

script. 
    document.addEventListener('DOMContentLoaded', () => {
        new Splide('.splide', {type: 'loop',perPage: 1, height: '600px', width: '80%', padding: '0'}).mount();
    })