doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(href='https://fonts.googleapis.com/css?family=Baloo+2&display=swap' rel='stylesheet')
  link(rel='shortcut icon' type="image/png" href="/illustrations/logo.svg")
  link(rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css")
  link(rel="stylesheet"
      href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.18.1/build/styles/night-owl.min.css")
  link(rel='stylesheet' href='/css/me.css')
  title #{title}

header
  .logo
    a(href='/' style='text-decoration: none; color: #fff; font-size: 24px;\
    font-weight: bold;')
      div(style='display: flex; justify-content: center')
        img(src='/illustrations/logo2.svg' width='35px' height='35px' style='margin-right: 5px')
        | Dev
        span(style='color: #1DA977;') Con
  .search
    input(type='text' placeholder='Search' id='search')
    #search-results
  ul
    li
      a(href='/startups/settings' style='color: #fff;')
        i.fas.fa-cog
        | &nbsp;&nbsp;Settings
    li
      p(style='color: #1DA977;' id='logout-btn')
        i.fas.fa-sign-out-alt
        | &nbsp;&nbsp;Logout
    li 
      - let circleDisplay = 'none';
      - if(user.notifNum < user.notifications.length) circleDisplay = 'block';
      p#notification-toggle-btn(style='color: #fff; position: relative' data-state='closed' data-notifNum=`${user.notifNum}` data-notifLength=`${user.notifications.length}`)
        i#circle.fas.fa-circle(style=`display: ${circleDisplay}; width: 10px; height: 10px ;position: absolute; top: -2px; right: -2px; color: #1DA977; z-index: 1000`)
        i.far.fa-bell

.container
    nav.left-nav
        ul
            li.is-active
                a(href='/startups/me')
                    i.fas.fa-user
                    | &nbsp;&nbsp; Profile
            li
                a(href='/popular-posts')
                    i.fas.fa-users
                    | &nbsp;&nbsp; Popular Posts
            li
                a(href='/bookmarks')
                    i.far.fa-bookmark
                    | &nbsp;&nbsp; Bookmarks
            li
                a(href='/messages')
                    i.far.fa-comments
                    | &nbsp; Messages

    main.main
        .info
            img(src=`/img/users/${user.photo}` alt='avatar' id='user-photo')
            .stats
                h2 #{user.name}
                h4 #{user.location}
                .nums 
                    p#followers-btn
                        | #{user.followers.length}
                        span(style='font-weight: normal;')  Followers
                    p#following-btn
                        | #{user.following.length}
                        span(style='font-weight: normal;')  Following
                .socials(style='width: 100%; display: flex; justify-content: flex-start')
                    - if(user.facebook)
                        a(href=`${user.facebook}` target='_blank' style='font-size: 22px; color: #1DA977; margin-right: 1rem;')
                            i.fab.fa-facebook
                    -if(user.linkedin)
                        a(href=`${user.linkedin}` target='_blank' style='font-size: 22px; color: #1DA977; margin-right: 1rem;')
                            i.fab.fa-linkedin 
                    - if(user.twitter)
                        a(href=`${user.twitter}` target='_blank' style='font-size: 22px; color: #1DA977; margin-right: 1rem;')
                            i.fab.fa-twitter   
                    - if(user.youtube)
                        a(href=`${user.youtube}` target='_blank' style='font-size: 22px; color: #1DA977; margin-right: 1rem;')
                            i.fab.fa-youtube
                    - if(user.dribbble)
                        a(href=`${user.dribbble}` target='_blank' style='font-size: 22px; color: #1DA977; margin-right: 1rem;')
                            i.fab.fa-dribbble
                    - if(user.devto)
                        a(href=`${user.devto}` target='_blank' style='font-size: 22px; color: #1DA977; margin-right: 1rem;')  
                            i.fab.fa-dev  
                    - if(user.github)
                        a(href=`${user.github}` target='_blank' style='font-size: 22px; color: #1DA977; margin-right: 1rem;') 
                            i.fab.fa-github 
                    - if(user.personal)
                        a(href=`${user.personal}` target='_blank' style='font-size: 22px; color: #1DA977; margin-right: 1rem;')
                            i.fas.fa-laptop-code  
                                                    
            a.btn(href='/startups/settings') Edit Profile
        .change-photo(style='display: flex; align-items: center; margin-top: 1rem; margin-left: 0.5rem') 
            input#photo(type='file' name='photo' accept='image/*' style='display: none' )
            label(for='photo' style='cursor: pointer; color: #1DA977; margin-top: 0.5rem; font-size: 19px;') Change Photo 
            button.btn#save(style='margin: 0 1rem; padding: 0.5rem 2rem;') Save Photo

        .createJob
            h2 Create a Job offer
            .job-form 
                label.form__label(for='title') Job Title
                input#title.form__input(type='text'  required='' placeholder='title...')
                label.form__label(for='location') Job Location
                input#location.form__input(type='text'  required='' placeholder='location...')   
                label.form__label(for='description') Job Description
                textarea#description.form__input(type='text'  required='') 
            .btn#submit-job Submit    

        .jobs 
            // todo   
            each job in jobs  
                .job 
                    .editContainer(id=`edit-${job._id}`) 
                        .job-form 
                            button(id=`close-${job._id}` onclick='toggleEditContainer(this.id)') 
                                i.fas.fa-times
                            label.form__label(for='title') Job Title
                            input.form__input(id=`editTitle-${job._id}` type='text'  required='' placeholder='title...' value=`${job.title}`)
                            label.form__label(for='location') Job Location
                            input.form__input(id=`editLocation-${job._id}` type='text'  required='' placeholder='location...' value=`${job.jobLocation}`)   
                            label.form__label(for='description') Job Description
                            textarea.form__input(id=`editDesc-${job._id}` type='text'  required='') #{job.description} 
                        .btn(id=`saveEdit-${job._id}` onclick='saveEdit(this.id)') Save Changes
                    .settings-btn(id=`settingBtn-${job._id}` onClick='toggleSettings(this.id)')
                        i.fas.fa-ellipsis-h(style='color: #1DA977; cursor: pointer;')
                    .settings(id=`settings-${job._id}`)
                        button.button(id=`toggleEdit-${job._id}` style='text-decoration: none' onclick='toggleEditContainer(this.id)')
                            i.fas.fa-pen
                            | &nbsp;&nbsp;Edit 
                        button.button(id=`delete-${job._id}` onClick='deleteJob(this.id)')
                            i.fas.fa-trash
                            | &nbsp;&nbsp;Delete
                        button.button(id=`closeApplications-${job._id}` onClick='closeApplications(this.id)' style='display: flex; align-items: center' data-status=`${job.status}`) 
                            i.far.fa-stop-circle(style='width: 20px; height: 20px')
                            - let closeMarkup = 'Close Applications'
                            - if(job.status === 'closed') closeMarkup = 'Open Applications'
                            | &nbsp;&nbsp; #{closeMarkup}     
                    .top 
                        .left-side 
                            img(src=`/img/users/${user.photo}`) 
                        .right-side 
                            p.job-title #{job.title} 
                            p.job-location 
                                i.fas.fa-map-marker-alt &nbsp;&nbsp;
                                |&nbsp; #{job.jobLocation}
                            p.job-applicants #{job.applicants.length} Applicants 
                            - let closeDisplay = 'none';
                            - if(job.status === 'closed') closeDisplay = 'block'
                                p(id=`closeApps-${job._id}` style=`display: ${closeDisplay}; color: red; margin-left: 1rem; font-weight: 600`) Applications Closed   
                    .bot 
                        p.job-desc #{job.description}
                        .view-apps(id=`show-${job._id}` onclick='showApplicants(this.id)') View Applicants
                        .applicants(id=`applicants-${job._id}`) 
                            each applicant in job.applicants
                                .applicant
                                    .wrapper 
                                        img(src=`/img/users/${applicant.photo}` style='width: 40px; height: 40px; border-radius: 50%')
                                        a.applicant-name(href=`/users/${applicant.slug}`) #{applicant.name}
                                        a.cv(href=`/documents/${applicant.cv}` download) 
                                            i.fas.fa-file-alt
                                            |&nbsp; CV
                                        .actions 
                                            - let acceptDisplayStyle = 'block'
                                            - let acceptText = 'Accept'
                                            - let declineText = 'Decline'
                                            - let declineDisplayStyle = 'block'
                                            - if(job.accepted.includes(applicant._id)) acceptText = 'Accepted'
                                            - if(job.accepted.includes(applicant._id)) declineDisplayStyle = 'none'
                                            - if(job.declined.includes(applicant._id)) acceptDisplayStyle = 'none'
                                            - if(job.declined.includes(applicant._id)) declineText = 'Declined'
                                            p.accept(id=`accept-${applicant._id}-${job._id}` onclick='toggleAcceptApplicant(this.id)' data-state=`${acceptText}` style=`display: ${acceptDisplayStyle}`)
                                                i.fas.fa-check-circle
                                                |&nbsp; #{acceptText} 
                                            p.decline(id=`decline-${applicant._id}-${job._id}` onclick='declineApplicant(this.id)' data-state=`${declineText}` style=`display: ${declineDisplayStyle}`)
                                                i.fas.fa-times-circle 
                                                |&nbsp; #{declineText}
                                    .message(id=`messageContainer-${applicant._id}-${job._id}`)            
                                        input.messageInput(id=`input-${applicant._id}-${job._id}` type='text' placeholder='Acceptance Message ...' required)
                                        .btns(id=`btns-${applicant._id}-${job._id}`) 
                                            .cta(id=`accept-${applicant._id}-${job._id}` onclick='acceptApplicant(this.id)' data-state=`${acceptText}` style='') Send 
                                            .cta(id=`cancel-${applicant._id}-${job._id}` onclick='resetAcceptApplicant(this.id)' style='background: #cf391e') Cancel 

div#notif-panel
  .notif-header
    p Notifications
  .notif-container
    each notification in user.notifications

      .notif
        .img 
          img(src=`/img/users/${notification.user.photo}`)
        .content 
          - let message = ''
          - if(notification.notifType === 'apply') message = `Applied for your`
          - let url = ''
          - let display = 'none'
          - if(notification.notifType === 'apply') display = 'inline'
          - if(notification.notifType === 'apply') url = `/startups/me#${notification.job}`

          p 
            span(style='font-weight: bold') #{notification.user.name}
            |  #{message}
            a(href=`${url}` style=`display: ${display}; text-decoration: none; color: #1DA977`)  job
          p(style='font-size: 16px') #{new Date(notification.createdAt).toLocaleString('en-us', { day:'numeric', month:'short', hour:'numeric', minute:'numeric'})}

                                                   






script(src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.18.1/build/highlight.min.js")
script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js' integrity='sha256-bd8XIKzrtyJ1O5Sh3Xp3GiuMIzWC42ZekvrMMD4GxRg=' crossorigin='anonymous')
script(type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js")
script(defer='' src='https://use.fontawesome.com/releases/v5.8.2/js/all.js')  
script(defer='' type='module' src='/js/startupsProfile.js')  
script(defer=''  src='/js/startupsProfileFuncs.js')      