doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(href='https://fonts.googleapis.com/css?family=Baloo+2&display=swap' rel='stylesheet')
  link(rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css")
  link(rel='shortcut icon' type="image/png" href="/illustrations/logo.svg")
  link(rel='stylesheet' href='/css/users.css')
  title #{title}

header
  .logo
    a(href='/dashboard' style='text-decoration: none; color: #fff; font-size: 24px;\
    font-weight: bold;')
      div(style='display: flex; justify-content: center')
        img(src='/illustrations/Logo-red.svg' width='35px' height='35px' style='margin-right: 5px')
        | Dev
        span(style='color: #DE4760;') Con
  ul
    li
      a(href='/dashboard/allStartups' style='color: #DE4760;')
        
        | &nbsp;&nbsp;Startups
    li
      a(href='/dashboard/allUsers' style='color: #DE4760;')
        
        | &nbsp;&nbsp;Users   
    li
      p(style='color: #DE4760;' id='logout-btn' onclick='logout()')
        i.fas.fa-sign-out-alt
        | &nbsp;&nbsp;Logout

    li
      p(style='color: #fff;' id='logout-btn')
        | #{admin.name}&nbsp;&nbsp;
      img(src='/illustrations/avatar.svg' width='50px' height='50px' style='border-radius: 50%; margin-left: 1rem') 

main.container 
     .users       
      each user in users
          - if(users.length === 0)
            .wrap(style='width: 100%; height: 100vh; display: flex; align-items: center; flex-direction: column; padding-top: 1rem')
                h1(style='color: #fff; margin-bottom: 1rem') No Startup Found
                img(src='/illustrations/empty-users.svg' width='60%' height='60%')
          .user-card
              img(src=`/img/users/${user.photo}` width='80px' height='80px' style='border-radius: 50%')
              h3(style='text-align: center; font-size: 24px') #{user.name}
              p(style='font-size: 18px') #{user.occupation}
              p(style='color: #DE4760') #{user.posts.length} Posts
              .actions(style='display: flex; flex-direction: column; align-items: center')
                p(id=`promote-${user._id}` onclick='promoteToAdmin(this.id)' style='color:#1DA977 ; font-size: 18px; cursor: pointer; margin-bottom: 0.5rem') 
                  i.fas.fa-user-shield(style='margin-right: 0.5rem')
                  |Promote to admin
                p(id=`delete-${user._id}` onClick='deleteAccount(this.id)' style='color: #DE4760; font-size: 18px; cursor: pointer') 
                  i.fas.fa-trash(style='margin-right: 0.5rem')
                  | Delete account


script(defer='' src='https://use.fontawesome.com/releases/v5.8.2/js/all.js') 
script(type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js")
script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js' integrity='sha256-bd8XIKzrtyJ1O5Sh3Xp3GiuMIzWC42ZekvrMMD4GxRg=' crossorigin='anonymous')
script(defer='' src='https://use.fontawesome.com/releases/v5.8.2/js/all.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js' integrity='sha256-bd8XIKzrtyJ1O5Sh3Xp3GiuMIzWC42ZekvrMMD4GxRg=' crossorigin='anonymous') 
script(src='/js/users.js')

script. 
    const logout = async () => {
    try {
      const res = await axios({
        method: 'GET',
        url: 'http://127.0.0.1:3000/api/v1/users/logout',
      });
      if (res.data.status === 'success') {
        window.setTimeout(() => location.assign('/'), 1500);
      }
    } catch (err) {
      console.log(err);
    }
  };